@model prgBurgerRestaurant.Models.ViewModelBurger

@{
    ViewData["Title"] = "Customize";
}

<h1>Customize</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bun" class="control-label"></label>
                <input asp-for="Bun" class="form-control" />
                <span asp-validation-for="Bun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Toppings" class="control-label"></label>
                <input asp-for="Toppings" class="form-control" />
                <span asp-validation-for="Toppings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patty" class="control-label"></label>
                <input asp-for="Patty" class="form-control" />
                <span asp-validation-for="Patty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condiments" class="control-label"></label>
                <input asp-for="Condiments" class="form-control" />
                <span asp-validation-for="Condiments" class="text-danger"></span>
            </div>
                        
            <div class="form-group">
                <br />
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index">Back to Order</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
